<div class="selection-box">
    <h2>WIE MÖCHTEST DU BESTELLEN?</h2>
  
    <div class="option" (click)="goToLocations('restaurant')">
      <div class="option-icon">🍽️</div>
      <div class="option-text">IM RESTAURANT</div>
    </div>
  
    <div class="option" (click)="goToLocations('to-go')">
      <div class="option-icon">🚶</div>
      <div class="option-text">VORBESTELLUNG TO GO</div>
    </div>
  
    <div class="option" (click)="goToLocations('delivery')">
      <div class="option-icon">🚴</div>
      <div class="option-text">VORBESTELLUNG LIEFERDIENST</div>
    </div>
  
    <div class="option" (click)="goToLocations('foodspot')">
      <div class="option-icon">🏪</div>
      <div class="option-text">FOODSPOT</div>
    </div>
  </div>
  